.thumbnail {
    width:100%;
}

.video-title {
    font-weight: bolder;
    margin-top: 10px;
    font-size: 15px;
    line-height: 20px;
    width:250px;

}
.youtuber{
    font-size: 12px;
    margin-bottom: 4px;
    color:rgb(95, 93, 93);
}
.stats {
    font-size: 12px;
    margin-top: 0px;
    color:rgb(95, 93, 93);
}
.channel-logo {
    margin-top:10px;
}
.profile-picture {
    width:40px;
    border-radius: 25px;
}
.video-title,.youtuber,.stats {
    font-family: 'Roboto', sans-serif;
}
.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 30px;
}